{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center; /* Center horizontally */
            margin: 0;
            padding-top: 20px; /* Adjust space from the top */
        }
        h1 {
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>Pharmacy Inventory Management</h1>
</body>
</html>
